<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
    executionOrder="depends,defects"
    failOnEmptyTestSuite="true"
    extensions="Pest\Plugins\PhpUnit\Extension"
>
    <testsuite name="Unit">
        <directory suffix="Test.php">tests/Unit</directory>
    </testsuite>
    <testsuite name="Feature">
        <directory suffix="Test.php">tests/Feature</directory>
    </testsuite>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
</phpunit>
